<section class="aling">
  <button (click)="goToNewPublication()">
    Nueva Publicacion
  </button>
</section>

<main *ngFor="let publication of publicationList" class="aling">
  <article class="publication-card">
    <h3>{{ publication.Name }}</h3>
    <p>
      {{ publication.TypeAliance }} | <i> {{ publication.AlianceDate }} </i>
    </p>
    <p>{{ publication.Description }}</p>
    <img [src]="publication.DocumentRoute" alt="publication image" />
    <section *ngIf="isEducationType(publication)" class="row-elements">
      <button (click)="logElement(publication.id)" class="btn-setting">
        Editar
      </button>
      <button (click)="logElement(publication.id)" class="btn-setting">
        Suscribete
      </button>
      <button (click)="logElement(publication.id)" class="btn-setting">
        Eliminar
      </button>
    </section>
  </article>
</main>