.aling{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.publication-card {
  width: 80%;
  margin: 20px;
  border-radius: 5px;
}

.publication-card > img {
  width: 100%;
  border-radius: 5px;
}

/* .publication-card > section {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

