<section class="aling">
  <button (click)="goToNewPublication()">
    Nueva Publicacion
  </button>
</section>

<main class="aling">
  <article *ngFor="let publication of publicationList" class="publication-card">
    
    <h3>{{ publication.title }}</h3>
    <p>{{ publication.description }} | <i>{{publication.createdDate}}</i></p>
    <p> ***** {{ publication.idTypeOfPublication }}</p>
    <img [src]="publication.imageRoute" alt="publication image" />
    
    <section *ngIf="isEducationType(publication)" class="row-elements">
      <button (click)="logElement(publication.id)" class="btn-setting">
        Editar
      </button>
      <button (click)="logElement(publication.id)" class="btn-setting">
        Suscribete
      </button>
      <button (click)="logElement(publication.id)" class="btn-setting">
        Eliminar
      </button>
    </section>
    
  </article>  
</main>
