<main class="form-center">
  <section class="back-button">
    <button (click)="renderLanding()" class="btn-setting">Volver</button>
  </section>

  <form class="create-user-form" (ngSubmit)="onSubmit()" #formulario="ngForm">
    <section class="form-group">
      <label class="form-label" for="cedula">Cédula</label>
      <input
        [(ngModel)]="user.nationalIdentificationNumber"
        type="text"
        id="cedula"
        name="cedula"
        required
        class="form-control"
        autocomplete="name"
        maxlength="30"
        pattern="[0-9]+"
        (input)="checkCedulaValidity()"
      />
      <div
        *ngIf="cedulaErrorFlag && formulario.controls['cedula'].dirty"
        class="error-message"
      >
        <span class="error-message">{{ cedulaMessageError }}</span>
      </div>
    </section>

    <section class="form-group">
      <label class="form-label" for="email">Correo electrónico</label>
      <input
        [(ngModel)]="user.email"
        type="email"
        id="email"
        name="email"
        required
        class="form-control"
        maxlength="80"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
        (input)="checkEmailValidity()"
      />
      <div
        *ngIf="errorFlag && formulario.controls['email'].dirty"
        class="error-message"
      >
        <span class="error-message">{{ messageError }}</span>
      </div>
    </section>

    <section class="form-group">
      <label class="form-label" for="firstName">Nombre</label>
      <input
        [(ngModel)]="user.firstName"
        type="text"
        name="firstName"
        maxlength="40"
        id="firstName"
        required
        class="form-control"
        />
      </section>
    <section class="form-group">
      <label class="form-label" for="lastName">Apellido</label>
      <input
        [(ngModel)]="user.lastName"
        type="text"
        name="lastName"
        id="lastName"
        required
        maxlength="40"
        class="form-control"
        />
      </section>
      <section class="form-group">
        <label class="form-label" for="phone">Teléfono</label>
        <input
        [(ngModel)]="user.phone"
        type="text"
        maxlength="40"
        name="phone"
        id="phone"
        required
        class="form-control"
      />
    </section>

    <section class="form-group">
      <label class="form-label" for="password">Contraseña</label>
      <input
        [(ngModel)]="user.password"
        type="password"
        id="password"
        name="password"
        required
        class="form-control"
        minlength="7"
      />
    </section>

    <section class="container-btn">
      <button
        type="submit"
        [disabled]="!formulario.form.valid"
        class="submit-btn"
      >
        Enviar
      </button>
    </section>
  </form>
</main>
