<style>
    .card{
        border: solid 1px black;
        margin: 50px;
        padding: 30px;
        border-radius: 15px;
    }
    .main {
        overflow: auto; /* Add this line to enable scrolling */
    }
</style>
<section *ngFor="let product of productsList" class="main">
    <article class="card">
        <p>{{ product.title }}</p>
        <p>{{ product.description }}</p>        
        <img [src]="product.images" alt="" width="240">
        <section style="margin: 5px;">
            <button style="background-color: black; color:aliceblue; padding:5px; margin:3px;">Buy</button>
            <button style="background-color: black; color:aliceblue; padding:5px; margin:3px;">See details</button>
        </section>
    </article>
    
</section>
