.create-user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(https://www.elcolombiano.com/documents/10157/0/901x562/0c0/0d0/none/11101/DPHW/image_content_22258634_20141204084703.jpg) center/cover no-repeat;
}


.form-group {
  margin-bottom: 10px;
  position: relative;
  margin-top: 25px;
}

label {
  font-weight: bold;
}

.form-control {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form-label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
  color: #888;
  font-size: 12px;
  transition: all 0.2s ease;
}

.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control:focus + .form-label,
.form-control:valid + .form-label {
  top: -20px;
  font-size: 10px;
}

.container-btn {
  display: flex;
  justify-content: center;
}

.submit-btn {
  margin: 10px;
}
