<div class="container">

  <main class="main-content-tag">
    <section class="brand-icon">
    </section>

    <h2 class="base-title">Iniciar sesión</h2>

    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="google-form">
      <section class="input-wrapper">
        <section class="billete-input">
          <input type="email" id="email" formControlName="email" class="base-input" required />
          <label for="email" class="base-label">Correo</label>
          <p class="error-message"
            *ngIf="signInForm.get('email')?.hasError('required') && signInForm.get('email')?.touched">
            El correo es requerido.
          </p>
          <p class="error-message"
            *ngIf="signInForm.get('email')?.hasError('email') && signInForm.get('email')?.touched">
            Por favor ingresa un correo válido.
          </p>
        </section>
      </section>

      <section class="input-wrapper">
        <section class="billete-input">
          <input type="password" id="password" formControlName="password" class="base-input" required />
          <label for="password" class="base-label">Contraseña</label>
          <p class="error-message"
            *ngIf="signInForm.get('password')?.hasError('required') && signInForm.get('password')?.touched">
            La contraseña es requerida.
          </p>
          <p class="error-message"
            *ngIf="signInForm.get('password')?.hasError('minlength') && signInForm.get('password')?.touched">
            Ingresa minimo 8 caracteres.
          </p>
        </section>
      </section>

      <button type="submit" [disabled]="!signInForm.valid" class="submit-btn button-basic">Ingresar</button>

      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
    </form>
    
    <div class="buttons-container">
      <button class="create-account-btn button-basic">Crear cuenta</button>
      <button class="retreive-account-btn button-basic">Recuperar contraseña</button>
    </div>
  </main>

</div>

<button (click)="renderResetPassword()" class="btn-setting">
  Recuperar cuenta
</button>