<h2>fjkj</h2>
<!-- <main class="form-center">
  <button (click)="renderSingnInComponent()" class="btn-setting">Volver</button>

  <form class="create-user-form" (ngSubmit)="resetPassword()" #formulario="ngForm">
    <section class="form-group">
      <label class="form-label" for="email">Correo electrónico</label>
      <input
        [(ngModel)]="userResetPassword.email"
        type="email"
        id="email"
        name="email"
        required
        class="form-control"
      />
    </section>

    <section class="container-btn">
      <button
        type="submit"
        [disabled]="!formulario.form.valid"
        class="submit-btn"
      >
      Recuperar cuenta
    </button>
  </section>
</form>

</main> -->
