<main class="form-center">
  <form [formGroup]="instanceForm" (ngSubmit)="onSubmit()">
    <section class="form-group">
      <label>Title:</label>
      <input type="text" formControlName="title" placeholder="title" />
    </section>

    <section class="form-group">
      <label>Has Form:</label>
      <input type="checkbox" formControlName="hasForm" placeholder="hasForm" />
    </section>

    <section class="form-group">
      <label>Id Type of Publication:</label>
      <input type="number" formControlName="idTypeOfPublication" placeholder="idTypeOfPublication" />
    </section>

    <section class="form-group">
      <label>Description:</label>
      <textarea formControlName="description" placeholder="description"></textarea>
    </section>

    <section class="form-group">
      <label>Image Route:</label>
      <input type="text" formControlName="imageRoute" placeholder="imageRoute" />
    </section>

    <button type="submit" [disabled]="!instanceForm.valid" class="submit-btn">Submit</button>
  </form>
  <section *ngIf="publicationCreated">
    creado
  </section>
</main>
