/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*FORMS*/

.form-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.form-group {
  margin-bottom: 10px;
  position: relative;
  margin-top: 25px;
}

.form-group label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
  color: #888;
  font-size: 12px;
  transition: all 0.2s ease;
}

.form-control {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.error-message {
  font-size: 10px;
  font-weight: bolder;
}
/*FORMS*/
.row-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.back-button{
  position: absolute;
  top: 5px;
  left: 5px;
}

.btn-setting {
  width: 90px;
  min-width: 20px;
  height: 50px;
  margin: 5px 15px 2px 15px;
  padding: 25px 0px 0px 0px;
  border: none;
  border-radius: 5px;
  background-size: 25px;
  background-position: top;
  background-position-y: 5px;
  background-repeat: no-repeat;
  background-color: inherit;
  background-color: rgb(255, 255, 255);
}
.btn-setting:hover {
  background-color: aquamarine;
  opacity: 80%;
}
.btn-setting-mobile{
  width: auro;
  height: 50px;
  margin: 0px 1px 0px 1px;
  padding: 25px 0px 0px 0px;
  border: none;
  border-radius: 5px;
  background-size: 25px;
  background-position: top;
  background-position-y: 5px;
  background-repeat: no-repeat;
  background-color: inherit;
  background-color: rgb(255, 255, 255);
}
.btn-setting-mobile:hover {
  background-color: rgb(255, 255, 255);
  /* opacity: 80%; */
}
